.follow {
  &__icon-bg {
    width: 100%;
    @include flexbox(center, center, none);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
    border-radius: 25%;
    padding: 7px;
    width: 45px;
    height: 40px;
    background: white;
    margin: {
      left: 8px;
      right: 8px;
    }
    transition: 0.3s ease all;
  }
  &__icon-bg:hover {
    transform: scale(1.2);
    transition: 0.3s ease all;
  }
  @include flexbox(center, center, none);
  &__github-icon {
    @include follow__button();
  }

  &__youtube-icon {
    @include follow__button();
  }

  &__facebook-icon {
    @include follow__button();
  }
}
