.colors {
  border-radius: 20px 20px 0 0;
  background: {
    color: rgb(236, 236, 236);
  }
  height: 60px;
  @include flexbox(center, space-between, none);
  .colors__list {
    @include flexbox(center, center, none);
    &-red {
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
      @include circle(hsl(1, 100%, 68%));
    }
    &-yellow {
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
      @include circle(hsl(39, 100%, 63%));
    }
    &-green {
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
      @include circle(hsl(147, 100%, 34%));
    }
  }
  &__mode-dark {
    margin: {
      right: 20px;
    }
  }
}
