body {
  .main__menu {
    height: 100vh;
    @include flexbox(center, center, none);
  }
}
body {
  transition: 0.3s ease all;
  &.dark {
    .main__menu {
      .container {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: 0.3s ease all;
        background: #3d3d3d;
        .user {
          transition: 0.3s ease all;

          .follow {
            .follow__github-icon {
              fill: #3d3d3d;
            }

            .follow__youtube-icon {
              fill: #3d3d3d;
            }

            .follow__facebook-icon {
              fill: #3d3d3d;
            }
          }
        }
      }
    }
  }
  &.light {
    .main__menu {
      .container {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: 0.3s ease all;
        background: #3e60b8;
        .user {
          transition: 0.3s ease all;
          .follow {
            .follow__github-icon {
              fill: #3e60b8;
            }

            .follow__youtube-icon {
              fill: #3e60b8;
            }

            .follow__facebook-icon {
              fill: #3e60b8;
            }
          }
        }
      }
    }
  }
}
