.search {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 10px;
  .userFind {
    border: none;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 2px 5px 12px #888888;
  }
}

#root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: {
    left: 50px;
    right: 50px;
  }
  .card {
    display: flex;
    margin: 20px;
    box-shadow: 0 8px 14px #888888;
    border-radius: 30px;
    width: 550px;
    &__line {
      border-radius: 30px 0 0 30px;
      width: 30px;
      background-color: rgb(33, 141, 187);
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 20px;
      margin: 20px;
      &-infoUser {
        margin-left: 20px;
      }
      &-img {
        border-radius: 30px;
        width: 160px;
        height: 210px;
      }
    }
  }
}
