.card {
  font-family: "Roboto", sans-serif;
  &__item {
    &-name {
      font-size: x-large;
    }
    p {
      font-size: larger;
    }
  }
}
.search {
  .userFind {
    font-family: "Roboto", sans-serif;
  }
}
