@mixin button {
  margin: {
    left: 10px;
    right: 10px;
  }
  border-radius: 15px;
  padding: 5px;
  width: 60px;
  height: 60px;
  background: {
    color: white;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin circle($bgcolor) {
  margin-left: 10px;
  background: $bgcolor;
  border: {
    radius: 50%;
  }
  height: 30px;
  width: 30px;
}
@mixin flexbox($flex-align, $flex-justify, $flex-direction) {
  display: flex;
  align-items: $flex-align;
  justify-content: $flex-justify;
  flex-direction: $flex-direction;
}
@mixin follow__button {
  transition: 0.3s ease all;
  fill: #3e60b8;
  body.dark & {
    transition: 0.3s ease all;
    fill: rgb(70, 70, 70);
  }
}
