.main__menu {
  width: 100%;
  height: 100vh;
  @include flexbox(center, center, none);
}

.container {
  @include flexbox(none, none, column);
  width: 500px;
  height: 600px;
  border-radius: 20px;
  transition: 0.3s ease all;
}
